* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Colors*/
  --PRIMARY-COLOR: hsl(48, 100%, 65%);
  --SECONDARY-COLOR-DARK: hsl(250, 5%, 10%);
  --SECONDARY-COLOR-LIGHT: hsl(250, 5%, 95%);
  color-scheme: light dark;

  /*General*/
  --B-R: 30px;
  --SECONDARY-B-R: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  display: grid;

  color: var(--PRIMARY-COLOR);
  background-color: var(--SECONDARY-COLOR-DARK);
  height: 100vh;
}

.hero {
  display: flex;
  width: 100%;
}


header h1 {
  font-size: 18px;
  color: var(--PRIMARY-COLOR);
  background-color: var(--SECONDARY-COLOR-DARK);
  padding-bottom: 35px;
  margin-top: 10px;
}

header .page-title-section {
  background-color: var(--PRIMARY-COLOR);
  text-align: center;
}

header .title {
  display: inline-block;
  padding: 40px;
  color: var(--PRIMARY-COLOR);
  border-radius: var(--B-R);
  background-color: var(--SECONDARY-COLOR-DARK);
  z-index: 1;
}

header .circles {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--SECONDARY-COLOR-DARK);
}

header .nav-circle {
  background-color: var(--PRIMARY-COLOR);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

nav {
  margin-left: auto;
}

header .nav-menu {
  display: none;
  opacity: 0;
  transform: scale(1.3);
  background-color: var(--SECONDARY-COLOR-DARK);
  padding: 2rem;
  border: 2px solid var(--PRIMARY-COLOR);
  border-radius: var(--SECONDARY-B-R);
  position: fixed;
  right: 40px;
  top: 100px;
  z-index: 10;
  transition: opacity 0.5s ease;
}

.nav-menu a {
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--PRIMARY-COLOR);
  transition: all 0.3s ease;
}

a:visited {
  color: var(--PRIMARY-COLOR);
}

a:hover,
a:focus {
  text-decoration: underline;
  background-color: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR-DARK);
  padding: 10px;
  border-radius: var(--SECONDARY-B-R);
}



main {
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  border: 2px outset var(--PRIMARY-COLOR);
  border-radius: var(--B-R);
  padding: 0.5rem 2rem 0 2rem;
}
h3{
  margin-bottom: 2rem;
  font-size: 1.75rem;
  letter-spacing: 0.5rem;
  color: var(--PRIMARY-COLOR);
}
.submit-btn{
  width: 10rem;
  padding: 10px;
  white-space: nowrap;
  margin: 10px;
  border: 2px solid var(--PRIMARY-COLOR);
  color: var(--PRIMARY-COLOR);
  background-color: var(--SECONDARY-COLOR-DARK);
  border-radius: var(--SECONDARY-B-R);
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submit-btn:hover, .submit-btn:focus{
  background-color: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR-DARK);
  transform: scale(1.1);
  outline: none ;
}
.subject, .message{
    width: 300px;
}
.message{
  height: 150px;
}
.input{
  padding: 10px;
  margin: 0;
  border: none;
  background-color: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR-DARK);
  border-radius: var(--SECONDARY-B-R);
  margin-top: 2rem;
  transition: all 0.3s ease;
}
input:hover, input:focus{
  outline: 2px solid var(--PRIMARY-COLOR);
  background-color: var(--SECONDARY-COLOR-DARK);
  color: var(--PRIMARY-COLOR);
  transform: scale(1.1);
}
input:hover + label{transform: scale(1.1);}

input:hover + label, input:focus + label{
  color: var(--PRIMARY-COLOR);
}
textarea:hover, textarea:focus{
  outline: 2px solid var(--PRIMARY-COLOR);
  background-color: var(--SECONDARY-COLOR-DARK);
  color: var(--PRIMARY-COLOR);
  transform: scale(1.1);
}
textarea:hover + label{transform: scale(1.1);}

textarea:hover + label, textarea:focus + label{
  color: var(--PRIMARY-COLOR);
}


.input-container {
  position: relative;
  margin: 10px; /* Adjust as needed */
}
.text-container {
  position: relative;
  margin: 10px; /* Adjust as needed */
}

.input-container label {
  position: absolute;
  top: 0px;
  left: 15px; /* Align with input padding */
  color: var(--SECONDARY-COLOR-DARK); /* Your dark color */
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: none; /* Your primary color */
  padding: 0 5px;
  border-radius: 5px;
}
.text-container label{
  position: absolute;
  top: -120px;
  left: 15px;
  color: var(--SECONDARY-COLOR-DARK);
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: none;
  padding: 0 5px;
  border-radius: 5px;
}
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label{
  top: -15px; /* Move to top border */
  left: 10px;
  font-size: 0.8em; /* Shrink slightly */
  color: var(--PRIMARY-COLOR); /* Change color for contrast */
  background-color: var(--SECONDARY-COLOR-DARK); /* Dark background */
}
.text-container textarea:focus + label,
.text-container textarea:not(:placeholder-shown) + label{ 
  top: -150px; /* Move to top border */
  left: 10px;
  font-size: 0.8em; /* Shrink slightly */
  color: var(--PRIMARY-COLOR); /* Change color for contrast */
  background-color: var(--SECONDARY-COLOR-DARK); /* Dark background */
}




.nav-tooltip:before{
  opacity: 0;
  z-index: 99;
  content: attr(data-tooltip);
  position: absolute;
  background-color: var(--SECONDARY-COLOR-DARK);
  color: var(--PRIMARY-COLOR);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: var(--SECONDARY-B-R);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(30px) translateX(-300px) rotate(25deg);
  white-space: nowrap;
  transition: 200ms cubic-bezier(.42,0, .44, 1.68);
}
.nav-tooltip:hover::before{
  opacity: 1;
  transform: translateY(65px) translateX(-200px) rotate(0);
}
.nav-tooltip::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 15px solid var(--SECONDARY-COLOR-DARK);
  opacity: 0;
  transform: translateY(0) translateX(-300px) rotate(25deg);
  transition: 200ms cubic-bezier(.42,0, 0.44, 1.68);
}
.nav-tooltip:hover::after{
  opacity: 1;
  transform: translateY(56px) translateX(10px) rotate(180deg);
}

.nav-tooltip.tooltip-hidden::before,
.nav-tooltip.tooltip-hidden::after,
.nav-tooltip.tooltip-hidden:hover::before,
.nav-tooltip.tooltip-hidden:hover::after {
  opacity: 0 !important;
}


.robot-3d{
  height: 150px;
  width: 150px;
  right: 20%;
  opacity: 1;
  margin-top: 1rem;
}







.socials-container{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
}
.social-left{
  margin-right: 30px;
}
.socials-container a{
  display: inline-block;
  padding: 10px;
     background-color: var(--PRIMARY-COLOR);
  padding: 10px;
  border-radius: var(--SECONDARY-B-R);
}
.socials-container a svg{
  width: 50px;
  height: 40px;
  transition: all 0.3s ease;
}
.socials-container a::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--SECONDARY-COLOR-DARK);
  color: var(--PRIMARY-COLOR);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  z-index: 9999999;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover::before{
  opacity: 1;
  transform: translateY(-65px) rotate(0);
  background-color: var(--accent-color);
  color: white;
}
.socials-container a:hover {
  text-decoration: none;
  background-color: var(--accent-color);
  fill: white;
}
.socials-container a::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--SECONDARY-COLOR-DARK);
  transform: translateY(0) rotate(25deg);
  z-index: 9999999;
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover::after{
  transform: translateY(-35px) rotate(0);
  opacity: 1;
  border-top-color: var(--accent-color);
}