* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Colors*/
  --PRIMARY-COLOR: hsl(48, 100%, 65%);
  --SECONDARY-COLOR-DARK: hsl(250, 5%, 10%);
  --SECONDARY-COLOR-LIGHT: hsl(250, 5%, 95%);
  color-scheme: light dark;

  /*General*/
  --B-R: 30px;
  --SECONDARY-B-R: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  display: grid;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd hd"
    "sd sd sd sd sd mn mn mn mn"
    "ft ft ft ft ft mn mn mn mn";
  grid-template-rows: auto 1fr 2fr;
  color: var(--PRIMARY-COLOR);
  background-color: var(--SECONDARY-COLOR-DARK);
  height: 100vh;
}

.hero {
  display: flex;
  width: 100%;
}

header {
  grid-area: hd;
}

header h1 {
  font-size: 18px;
  color: var(--PRIMARY-COLOR);
  background-color: var(--SECONDARY-COLOR-DARK);
  padding-bottom: 35px;
  margin-top: 10px;
}

header .page-title-section {
  background-color: var(--PRIMARY-COLOR);
  text-align: center;
}

header .title {
  display: inline-block;
  padding: 40px;
  color: var(--PRIMARY-COLOR);
  border-radius: var(--B-R);
  background-color: var(--SECONDARY-COLOR-DARK);
  z-index: 1;
}

header .circles {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--SECONDARY-COLOR-DARK);
}

header .nav-circle {
  background-color: var(--PRIMARY-COLOR);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

nav {
  margin-left: auto;
}

header .nav-menu {
  display: none;
  opacity: 0;
  transform: scale(1.3);
  background-color: var(--SECONDARY-COLOR-DARK);
  padding: 2rem;
  border: 2px solid var(--PRIMARY-COLOR);
  border-radius: var(--SECONDARY-B-R);
  position: fixed;
  right: 40px;
  top: 100px;
  z-index: 10;
  transition: opacity 0.5s ease;
}

.nav-menu a {
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--PRIMARY-COLOR);
  transition: all 0.3s ease;
}

a:visited {
  color: var(--PRIMARY-COLOR);
}

a:hover,
a:focus {
  text-decoration: underline;
  background-color: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR-DARK);
  padding: 10px;
  border-radius: var(--SECONDARY-B-R);
}



main {
  grid-area: mn;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

main .p-section {
  opacity: 0;
  padding: 3.5rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
  animation: change-opacity 0.5s ease 1.5s 1 forwards;
}

main p {
  background-color: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR-DARK);
  border-radius: var(--B-R);
  padding: 3rem;
}

main .p-section:hover {
  transform: scale(1.05);
}

abbr {
  text-decoration: underline;
}

main .languages {
  opacity: 0;
  padding: 1rem 2rem 1.3rem 3rem;
  min-height: 50vh;
  border: 2px solid var(--PRIMARY-COLOR);
  border-top-left-radius: var(--SECONDARY-B-R);
  border-top-right-radius: var(--SECONDARY-B-R);
  animation: change-opacity 0.5s ease 2.5s 1 forwards;
}

main .languages h3 {
  text-align: center;
  text-decoration: underline;

}

main .language {
  text-align: center;
  margin-top: 2rem;
  border: 2px solid var(--PRIMARY-COLOR);
  padding: 1.3rem;

  border-radius: var(--SECONDARY-B-R);
  transition: all 0.3s ease;
}
main .language:hover {
  border: none;
  color: var(--SECONDARY-COLOR-DARK);
  background-color: var(--PRIMARY-COLOR);
}

.languages-about {
  opacity: 0;
  margin: 20px;
  animation: change-opacity 0.5s ease 3.5s 1 forwards;
}

.languages-about p {
  background-color: var(--SECONDARY-COLOR-DARK);
  color: var(--PRIMARY-COLOR);
  border: 2px solid var(--PRIMARY-COLOR);
  border-radius: var(--SECONDARY-B-R);
  padding: 20px;
}
.sidebar {
  text-align: center;
  grid-area: sd;
  background-color: black;
  height: clamp(30rem, 70vh, 80rem);
  background-size: cover;
  background-position: center;
  border-top-right-radius: var(--B-R);
  border-bottom-right-radius: var(--B-R);
  border-top: 2px solid var(--SECONDARY-COLOR-DARK);
}

.sidebar img {
  z-index: 10000;
  width: 50%;
  height: 50%;
  margin: 0;
  object-fit: cover;
  transition: all 0.3s ease;
  animation: slide-in-left 0.7s ease 0.1s 1;
}

.sidebar h2 {
  opacity: 0;
  color: transparent;
  background: linear-gradient(
    to right,
    var(--SECONDARY-COLOR-DARK),
    var(--PRIMARY-COLOR),
    var(--SECONDARY-COLOR-DARK)
  );
  background-clip: text;
  font-size: 2.5rem;
  letter-spacing: 1rem;
  animation: change-opacity 0.5s ease 0.8s 1 forwards;
  transition: background 0.3s ease;
}
@keyframes slide-in-left {
  from {
    transform: translateX(-10000%);
  }

  to {
    transform: translateX(0);
  }
}

footer {
  opacity: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  font-size: larger;
  grid-area: ft;
  min-height: 100vh;
  border-top: 2px solid var(--PRIMARY-COLOR);
  border-top-right-radius: var(--B-R);
  border-right: 2px solid var(--PRIMARY-COLOR);
  background-color: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR-DARK);
  animation: change-opacity 0.5s ease 2s 1 forwards;
  justify-content: flex-end;
}
.footer-content {
  background-color: var(--SECONDARY-COLOR-DARK);
  color: var(--PRIMARY-COLOR);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 600px;
  outline: 2px solid var(--PRIMARY-COLOR);
  outline-offset: -1.1rem;
  padding: 0 2rem 0 2rem;
  border-radius: var(--B-R);
}
.footer-content h3 {
  color: var(--PRIMARY-COLOR);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.footer-content p {
  text-indent: 1rem;
  margin-bottom: 1rem;
  line-height: 1.4;
  font-size: 1rem;
}
.footer-content ul {
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.footer-content li {
  list-style-type: none;
  font-size: smaller;
  margin-bottom: 0.25rem;
}
.nav-instructions {
  text-align: center;
  margin-top: 2rem;
}
/* .footer-decoration1 {
  width: 100%;
  height: 20px;
  background-color: var(--SECONDARY-COLOR-DARK);
  border-top-left-radius: var(--B-R);
  border-top-right-radius: var(--B-R);
  margin-top: auto;
  rotate: 180deg;
} */
.footer-decoration2 {
  width: 100%;
  height: 5px;
  background-color: var(--SECONDARY-COLOR-DARK);
  border-bottom-left-radius: var(--B-R);
  border-bottom-right-radius: var(--B-R);
}

@keyframes change-opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}






.backend, .frontend {
  cursor: pointer;
  text-decoration: underline;
  padding: 2px 6px;
  transition: all 0.3s ease;
}
.tooltip:before{
  opacity: 0;
  z-index: 99;
  content: attr(data-tooltip);
  position: absolute;
  background-color: var(--SECONDARY-COLOR-DARK);
  color: var(--PRIMARY-COLOR);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: var(--SECONDARY-B-R);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) translateX(-100px) rotate(25deg);
  transition: 200ms cubic-bezier(.42,0, .44, 1.68);
}
.tooltip:hover::before{
  opacity: 1;
  transform: translateY(-65px) translateX(-20px) rotate(0);
}
.tooltip::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--SECONDARY-COLOR-DARK);
  opacity: 0;
  transform: translateY(0) translateX(-100px) rotate(25deg);
  transition: 200ms cubic-bezier(.42,0, 0.44, 1.68);
}
.tooltip:hover::after{
  opacity: 1;
  transform: translateY(-30px) translateX(-20px) rotate(0);
}
.backend:hover, .frontend:hover{
  text-decoration: none;
  background-color: var(--SECONDARY-COLOR-DARK);
  color: var(--PRIMARY-COLOR);
  padding: 10px;
  border-radius: var(--SECONDARY-B-R);
}

.nowrap{
  white-space: nowrap;
}




.nav-tooltip:before{
  opacity: 0;
  z-index: 99;
  content: attr(data-tooltip);
  position: absolute;
  background-color: var(--SECONDARY-COLOR-DARK);
  color: var(--PRIMARY-COLOR);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: var(--SECONDARY-B-R);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(30px) translateX(-300px) rotate(25deg);
  white-space: nowrap;
  transition: 200ms cubic-bezier(.42,0, .44, 1.68);
}
.nav-tooltip:hover::before{
  opacity: 1;
  transform: translateY(65px) translateX(-200px) rotate(0);
}
.nav-tooltip::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 15px solid var(--SECONDARY-COLOR-DARK);
  opacity: 0;
  transform: translateY(0) translateX(-300px) rotate(25deg);
  transition: 200ms cubic-bezier(.42,0, 0.44, 1.68);
}
.nav-tooltip:hover::after{
  opacity: 1;
  transform: translateY(56px) translateX(10px) rotate(180deg);
}

.nav-tooltip.tooltip-hidden::before,
.nav-tooltip.tooltip-hidden::after,
.nav-tooltip.tooltip-hidden:hover::before,
.nav-tooltip.tooltip-hidden:hover::after {
  opacity: 0 !important;
}