@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Colors*/
  --PRIMARY-COLOR: hsl(48, 100%, 65%);
  --SECONDARY-COLOR-DARK: hsl(250, 5%, 10%);
  --SECONDARY-COLOR-LIGHT: hsl(250, 5%, 95%);
  color-scheme: light dark;

  /*General*/
  --B-R: 30px;
  --SECONDARY-B-R: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  display: grid;

  color: var(--PRIMARY-COLOR);
  background-color: var(--SECONDARY-COLOR-DARK);
  height: 100vh;
}

.hero {
  display: flex;
  width: 100%;
}


header h1 {
  font-size: 18px;
  color: var(--PRIMARY-COLOR);
  background-color: var(--SECONDARY-COLOR-DARK);
  padding-bottom: 35px;
  margin-top: 10px;
}

header .page-title-section {
  background-color: var(--PRIMARY-COLOR);
  text-align: center;
}

header .title {
  display: inline-block;
  padding: 40px;
  color: var(--PRIMARY-COLOR);
  border-radius: var(--B-R);
  background-color: var(--SECONDARY-COLOR-DARK);
  z-index: 1;
}

header .circles {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--SECONDARY-COLOR-DARK);
}

header .nav-circle {
  background-color: var(--PRIMARY-COLOR);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

nav {
  margin-left: auto;
}

header .nav-menu {
  display: none;
  opacity: 0;
  transform: scale(1.3);
  background-color: var(--SECONDARY-COLOR-DARK);
  padding: 2rem;
  border: 2px solid var(--PRIMARY-COLOR);
  border-radius: var(--SECONDARY-B-R);
  position: fixed;
  right: 40px;
  top: 100px;
  z-index: 10;
  transition: opacity 0.5s ease;
}

.nav-menu a {
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--PRIMARY-COLOR);
  transition: all 0.3s ease;
}

a:visited {
  color: var(--PRIMARY-COLOR);
}

a:hover,
a:focus {
  text-decoration: underline;
  background-color: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR-DARK);
  padding: 10px;
  border-radius: var(--SECONDARY-B-R);
}

main {
  margin: auto;
  text-align: center;
}
main .no-websites-text {
  font-size: 1.25rem;
  margin-bottom: 200px;
  transition: border 0.3s ease, padding 0.3s ease, transform 0.5s ease;
  border-radius: var(--B-R);
}
main .no-websites-text:hover{
  border: 2px solid var(--PRIMARY-COLOR);
  padding: 1rem;
  transform: scale(1.1);
}
.bottom-text {
  color: var(--PRIMARY-COLOR);
  border-radius: var(--B-R);
  padding: 10px;
  font-family: "IBM Plex Mono", monospace;
}
.bottom-text1 {
  width: 450px;
  text-align: center;
  margin: 0 auto;
  border-top: 3px solid var(--PRIMARY-COLOR);
  border-left: 3px solid var(--PRIMARY-COLOR);
  border-right: 3px solid var(--PRIMARY-COLOR);
}
.bottom-text2 {
  width: 600px;
  text-align: center;
  border-bottom: 3px solid var(--PRIMARY-COLOR);
  border-right: 3px solid var(--PRIMARY-COLOR);
  border-left: 3px solid var(--PRIMARY-COLOR);
}

.nav-tooltip:before{
  opacity: 0;
  z-index: 99;
  content: attr(data-tooltip);
  position: absolute;
  background-color: var(--SECONDARY-COLOR-DARK);
  color: var(--PRIMARY-COLOR);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: var(--SECONDARY-B-R);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(30px) translateX(-300px) rotate(25deg);
  white-space: nowrap;
  transition: 200ms cubic-bezier(.42,0, .44, 1.68);
}
.nav-tooltip:hover::before{
  opacity: 1;
  transform: translateY(65px) translateX(-200px) rotate(0);
}
.nav-tooltip::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 15px solid var(--SECONDARY-COLOR-DARK);
  opacity: 0;
  transform: translateY(0) translateX(-300px) rotate(25deg);
  transition: 200ms cubic-bezier(.42,0, 0.44, 1.68);
}
.nav-tooltip:hover::after{
  opacity: 1;
  transform: translateY(56px) translateX(10px) rotate(180deg);
}

.nav-tooltip.tooltip-hidden::before,
.nav-tooltip.tooltip-hidden::after,
.nav-tooltip.tooltip-hidden:hover::before,
.nav-tooltip.tooltip-hidden:hover::after {
  opacity: 0 !important;
}
